@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
}

/* @media only screen and (max-width: 1024px) {
    .container {
      @apply w-full;
    }
  } */