@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #1E1E1E;
  color: #FFFFFF;
  font-family: "Roboto Mono", monospace;
}

/* Scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #494949;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}